@model DegitalContentManagerment.Models.Leturer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Leturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"​ asp-controller="Leturer" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherJob" class="control-label"></label>
                <input asp-for="FatherJob" class="form-control" />
                <span asp-validation-for="FatherJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherName" class="control-label"></label>
                <input asp-for="MotherName" class="form-control" />
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherJob" class="control-label"></label>
                <input asp-for="MotherJob" class="form-control" />
                <span asp-validation-for="MotherJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofBirth" class="control-label"></label>
                <input asp-for="DateofBirth" class="form-control" />
                <span asp-validation-for="DateofBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ProfileImage" class="control-label"></label>
                <input asp-for="ProfileImage" class="form-control" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>*@
            <div class="form-group mb-3">
                <label asp-for="ProfileImage" class="control-label"></label>
                <div class="" id="preview">
                    <img src="" alt="" width="250" height="250"/>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"​ name="file">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script>
    document.querySelector("input[type='file']").addEventListener("change", function (e) {
        let img = document.getElementById("#preview>img");
        img.setAttribute("src", window.URL.createObjectURL(e.target.files[0]));
    })
</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
